body
{
    background-color:;
}
h1{
    text-align: center;
    background-color: aqua;

}
h2{
    text-align: center;
    background-color: goldenrod;

}
p{
    text-align: center;
    background-color: blue;

}
<div style="background_color:"