header{
    background-color: rgb(0, 198, 248);
    display: block;
}

footer
{
    background-color: rgb(0, 0, 0);
    color: white;
}
nav{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    float: right;
    margin-right: 80px;
}
.menuitem{
    display:block;
    background-color: gold;
    border-radius: 6px;
}
.menuitem a{
    color: white;
    text-decoration: none;
    padding: 10px,16px;
    display: block;
}
